<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{post.author.get_icon_url()}}" class="img-fluid rounded-start" alt="avatar">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.author.first_name}} {{pokemon.author.last_name}} My Pokemon Team: </h5>
        <p class="card-text">{{pokemon.base_hp}}</p>
        <p class="card-text">{{pokemon.base_defense}}</p>
        <p class="card-text">{{pokemon.base_attack}}</p>
        <p class="card-text">{{pokemon.sprite_url}}</p>
        <small><a href="">View My Pokemon Team</a></small>

        {#{% if current_user.id == post.author.id %}
        <small><a href="{{url_for('social.edit_post', id=post.id)}}">Edit Post</a></small>
        {% endif %} #}       

        <p class="card-text"><small class="text-muted">{{moment(post.date_created).fromNow()}}</small></p>
      </div>
    </div>
  </div>
</div>



{#pokemons = db.relationship('Pokemon', backref='Pokemon_trainer', lazy='dynamic')

@main.route('/pokemon', methods = ['GET', 'POST'])
def pokemon():
    if request.method == 'POST':
        name = request.form.get('name')
        url = f"https://pokeapi.co/api/v2/pokemon/{name}"
        response = requests.get(url)
        if response.ok:
            # The request worked
            if not response.json():
                return "We had an error loading your data likely the pokemon is not in the database."
            data = response.json()           
            pokemon_dict={
                'name':data['forms'][0]['name'],
                'base_hp':data['stats'][0]['base_stat'],
                'base_defense':data['stats'][2]['base_stat'],
                'base_attack':data['stats'][3]['base_stat'],
                'sprite_url':data['sprites']['front_shiny']
            }
            print(pokemon_dict)
            return render_template('pokemon.html.j2',pokemon=pokemon_dict)

        else:
            return "We have a problem! Your pokemon is not in the server!"
            # The request fail

    return render_template('pokemon.html.j2')
