{% extends 'base.html.j2' %}

{% block title %}
Cart
{% endblock %}


{% block content %}
<h1 class="text-center mb-4">Cart</h1>
<h4 class="ms-5 mb-1">Total : $ {{ total }}</h4>
<div class="container-fluid">
    <div class="row g-2">
        {% for product in products %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="p-3 text-center card category-card">
                    <p class="card-header text-center"><a class="text-dark text-decoration-none" href="{{url_for('product', product_id = product.id)}}">{{ product.name }}</a></p>
                    <p class="card-body text-center">$ {{ product.price }}</p>
                    <p><img src="{{ url_for('static', filename='product_pics/' + product.image_file) }}" alt="..." srcset=""></p>
                    <p class="" style="width: 100%;"><a style="width: 100%;" class="more btn btn-success btn-lg" href="{{url_for('product', product_id = product.id)}}">View Item</a></p>
                    <p class="" style="width: 100%;"><a style="width: 100%;" class="more text-decoration-none btn btn-light text-dark btn-lg" href="{{url_for('main.deletefromcart', product_id = product.id)}}">Remove</a></p>
                </div>
            </div>
    
        {% endfor %}
    </div>

    <div style="width: 150px; margin: auto; margin-top: 20px;">
    <p class="" style="width: 100%;"><a style="width: 100%;" class="more btn btn-light text-decoration-none text-dark btn-lg" href="{{url_for('main.deleteallfromcart')}}">Remove all</a></p>
    </div>
</div>
{% endblock content %}
