{% extends 'base.html.j2'%}
{% block title %}
Create Product
{% endblock %}

{% block content%}

<div class="form-div">
  <h1>Create Product</h1>
  <small style="color:red">{{error}}</small>

  <form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
    {% for error in form.name.errors %}
      {{ error }}
    {% endfor %}


    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control") }}

    {{ form.price.label(class="form-label") }}
    {{ form.price(class="form-control") }}

    {{ form.picture.label() }}
    {{ form.picture(class="form-control-file mt-2") }}
    {% if form.picture.errors %}
          {% for error in form.picture.errors %}
                  <span class="text-danger">{{ error }}</span><br>
          {% endfor %}
      {% endif %}
    {{ form.submit(class="btn btn-primary mt-2") }}
  </form>



</div>

{% endblock %}
